[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pyppeteer = "*"
requests-html = "*"
steam = {git = "https://github.com/ValvePython/steam"}

[requires]
python_version = "3.6"
